.action_wrapper {
	width: 100%;
	max-width: 20rem;
	display: grid;
	gap: 1rem;
	margin: auto;
}

@media (max-width: 768px) {
	.main_title {
		font-size: 4rem;
		margin-bottom: 1rem;
	}

	.action_wrapper {
		grid-template-columns: 1fr;
		padding: 1rem;
	}
}
